<div>
 <table class="table table-striped table-bordered" style="background-color:gray">
 <tr>
   <th>Name</th>
   <th>Email</th>
   <th>Address</th>
  <th>Company</th>
  <th>Action</th>

 </tr>   


<tr *ngFor = "let d of data">
   <td> {{d.name}} </td>
   <td> {{d.email}} </td>
   <td> {{d.address.street}} </td>
   <td> {{d.company.name}} </td>
   <td> <button class="btn btn-danger" (click)="removeuser(index)"> remove </button></td>
</tr>  
 </table>  
</div>  
