<!--Navbar-->
<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Front-End Exam
      </a>
    </div>
  </div>
</nav>

<!--panel Userlist-->
<div class="PanelBody-Userlist">
      <ul class="nav nav-tabs">
          <li id="tab1" role="presentation" (click)="ChangeTab('tab1','tab2')" class="active"><a routerlink="/" href="#">User List</a></li>
          <li id="tab2" role="presentation" (click)="ChangeTab('tab2','tab1')"><a routerlink="/adduser" href="#">Add User</a></li>
    </ul>

    <div class="content-container">
    <router-outlet></router-outlet>
  </div>
    
</div> 

