
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    
    <div class="form-group row">
      <label class="col-md-2">Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text">
      </div>
    </div>
  

    <div class="form-group row">
      <label class="col-md-2">Email</label>
      <div class="col-md-10">
        <input class="form-control" type="text">
      </div>
    </div>

 <div class="form-group row">
      <label class="col-md-2">Address</label>
      <div class="col-md-10">
        <input class="form-control" type="text">
      </div>

<div class="form-group row">
      <label class="col-md-2">Phone Number</label>
      <div class="col-md-10">
        <input class="form-control" type="text">
      </div>

 <div class="form-group row">
      <label class="col-md-2">Company Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text">
      </div>     


 <div class="form-group row">
      <label class="col-md-2">
      </label>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="saveBook()">Add User</button>
      </div>
    </div>
   
   
</div>